@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'poppins', sans-serif;
    background-color: hsl(0, 0%, 98%);


}

header {
    text-align: center;
    max-width: 500px;
    margin: 50px auto;


}

h1 {
    font-weight: 200;
    margin: 0px;
}

h1.strong {
    font-weight: 600;
}

p {
    color: hsl(229, 6%, 66%);
}

.container {
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;

}

.box {
    background-color: white;
    padding: 30px;
    margin: 15px;
    width: 350px;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;


}

.box::after {
    content: '';
    background-color: ;
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    width: 100%;
}




.box h3 {
    margin: 0;
}

.box p {
    font-size: 14px;
    margin: 15px 0 40px;
}

.box img {
    display: block;
    margin-left: auto;
}

.box-red::after {
    background-color: hsl(0, 78%, 62%);
}

.box-blue::after {
    background-color: hsl(212, 86%, 64%);
}

.box-cyan::after {
    background-color: hsl(180, 62%, 55%);
}

.box-orange::after {
    background-color: hsl(34, 97%, 64%);
}

footer {
    text-align: center;
}

@media (max-width: 775px) {
    .box-push {
        transform: translateY(0);
    }
}